---

---

<div class="px-4 pt-6">
	<form>
		<div>
			<input
				type="checkbox"
				id="subscribeNews"
				name="subscribe"
				value="newsletter" />
			<label for="subscribeNews" id="label" class="dark:text-slate-200 text-slate-600">
			Finir le code
			</label>
		</div>
	</form>
</div>



